<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleCSV.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleCSV.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SimpleCSV.My.MySettings>
            <setting name="ProdConnection" serializeAs="String">
                <value>Server=DESKTOP-EJEO9B5\SQLEXPRESS;Database=BluthCompany;Trusted_Connection=True;</value>
            </setting>
            <setting name="DevConnection" serializeAs="String">
                <value>Server=DESKTOP-EJEO9B5\SQLEXPRESS;Database=BluthCompany;Trusted_Connection=True;</value>
            </setting>
        </SimpleCSV.My.MySettings>
    </applicationSettings>
    <userSettings>
        <SimpleCSV.My.MySettings>
            <setting name="DevPassword" serializeAs="String">
                <value>password</value>
            </setting>
        </SimpleCSV.My.MySettings>
    </userSettings>
</configuration>